{% extends 'blogs/base.html' %}

{% block content %}
    <div class="container">

        <center><h1>Analytics</h1></center>
        <br><br><br><hr>
            <div class="row justify-content-center">
                <div class="col-4">
                    <p> total blog :</p>
                    <hr>
                    {% with 'total min max variance average' as aggrqueries %}
                    {% with 'visitor like dislike comment' as data %}

                    {% for i in data.split %}
                        {% for a in aggrqueries.split %}
                            <p>{{ a }} {{ i }} :</p>
                            <hr>
                        {% endfor %}
                    {% endfor %}

                    {% endwith %}
                    {% endwith %}
                </div>
                <div class="col-4">
                    {% for item in total %}
                        <p>{{ item }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
    </div>

{% endblock %}