{% extends 'blogs/base.html' %}

{% block content %}

<div class="container">
<br> <br>	<h3>Sets and Lists</h3> <hr> 
	<h4>List</h4>
	<p>a = <input type="text" name="a" v-model="alist"> </p>
	<p>b = <input type="text" name="b" v-model="blist"> </p>
	<h4>Sets</h4>
	<p>a = <input type="text" name="a" v-model="asets"> </p>
	<p>b = <input type="text" name="b" v-model="bsets"> </p>
	<br> <br><h3>List Result</h3> <hr> 
		<h4>Print Text in a not in b</h4>
		<p>Result = ~~l_a_not_in_b~~</p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
	<h3><br> <br>Sets Result</h3> <hr> 
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
	<h3><br> <br>Syntax Sets</h3> <hr> 
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
	<h3><br> <br>Syntax Lists</h3> <hr> 
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
		<h4>Print Text in a not in b</h4>
		<p>Result = </p>
</div>

{% endblock %}